.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    line-height: 1.5;
    text-align: center;
}

body {
    background-color: lightgray;
}

.page {
    width: 950px;
    background-color: white;
    margin: auto;
    padding: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 10px;
}

.description-right {
    padding-left: 10px;
}

.description-left {
    padding-right: 10px;
}

.pure-g {
    margin-bottom: 50px;
}

.small-font {
    font-size: 14px;
}

#c_align{
    text-align: center;
}
