.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    line-height: 1.5;
    text-align: center;
}

body {
    background-color: lightgray;
}

.page {
    width: 1050px;
    background-color: #fff7fb;
    margin: auto;
    padding: 70px;
    padding-top: 30px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 5px;
}

.description-left {
    padding-right: 5px;
}

.pure-g {
    margin-bottom: 0px;
    margin-top: 50px;
}

.small-font {
    font-size: 14px;
}

#c_align{
    text-align: center;
}

#copyright {
	float: left;
	padding-bottom: 0px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}